include mixins

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Ardoino 88
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li
                      a(href='/about') Kontakt
    .container
      

    block content

    footer
      .container
        .row
          .col-xs-12
            small &copy; Cloudseven Software Development 2017

    script(src='/javascripts/jquery-3.1.1.js')
    script(src='/bootstrap/js/bootstrap.min.js')
